

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

  .main-nav{
    float: right;
    margin: 55px 10px;
    position: absolute;
    top:10%;
    left:80%;
  }
    

    /* header{
      position:fixed;
    } */
    
    
    
    .home_logo{
      position: absolute;
      top:30%;
      left:10%;
      color: #fff;
      
    }
    .home_logo-image{
      width: 80%;
      text-align: center;
      
      
    }
    .home_logo-name{
      font-size: 2rem;
      font-weight: bolder;
      text-align: center;
      padding-right: 2.8rem;
    }
    
    .main-nav li{
      list-style: none;
       display: inline-block;
      text-transform: uppercase;
      font-size: 90%;
      margin-right: 25px;
      padding: 8px 0;
      border-bottom: 1px solid #962459;
      transition: border-bottom 0.5s;
      float: right;
      text-align: center;
      width: 50%;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited,
    .main-nav li a:hover,
    .main-nav li a:active{
      color: #000;
      text-decoration: none;
      text-align: center;
     
      
    }
    
    .main-nav li:hover,
    .main-nav li:active{
      color: #962459 ;
    }
    
  .header {
    background-image: linear-gradient(to right bottom, rgba(90, 16, 68, 0.432), rgba(134, 39, 94, 0.822)), url(../img/shutterstock_415922566-825x465.jpg);
    background-position: top;
    background-size: cover;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative; }
    .header__header-logo {
      position: absolute;
      height: 10rem;
      top: 22%;
      left: 70%; }
      .header__header-name{
      position: absolute;
      height: 10rem;
      bottom: 48%;
      right: 12%; 
      font-size: 4rem;
      color: #fff;
      font-weight: 400;
      }
    .header__header-caption{
      position: absolute;
      height: 10rem;
      bottom: 41%;
      right: 13%; 
      color: #fff;
      text-transform: uppercase;
      
      }

body {
  box-sizing: border-box;
  background-color:  rgba(109, 15, 54, 0.979); }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7;
  padding: 2rem;
  box-sizing: border-box; }

.heading {
  margin-bottom: 5rem; }
  .heading--main {
    display: block;
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
  } 

.u-text-center {
  text-align: center; }

.u-margin-small {
  margin-bottom: 2rem; }

.u-margin-medium {
  margin-bottom: 4rem; }

.u-margin-big {
  margin-bottom: 8rem; }


.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem 4rem;
  border-radius: 20rem;
  display: inline-block;
  position: relative;
  transition: all .4s ease-out;
  border: none;
  cursor: pointer; }

.btn::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  padding: 1.5rem 4rem;
  height: 100%;
  width: 100%;
  border-radius: 20rem;
  z-index: -1;
  transition: all .4s ease; }

.btn--white {
  background-color: #fff;
  color: #962459; }
  .btn--white::after {
    background-color: #fff; }

.btn--color {
  background-color: #962459;
  color: #fff; }
  

.btn:focus, .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  outline: none; }
  .btn:focus::after, .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15); }

.btn-learn:link, .btn-learn:visited {
  display: inline-block;
  text-decoration: none;
  padding: .2rem;
  border-radius: 3px;
  border-bottom: 1px solid #962459;
  transition: all .2s;
  color: #962459; }

.btn-learn:hover {
  background-image: linear-gradient(to right, #7ed56f, #55c57a);
  color: #fff; }



.form {
  padding: 3rem 10rem; 
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
  .form__background {
    background-image: linear-gradient(104deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%);
    height: 55rem;
    background-size: cover; }
  .form__contact {
    width: 50%;
    padding-top: 5rem; }
  .form__wrap {
    padding: 2rem 7rem; }

#or{display: inline-block;
padding: 1rem;}

.form__group:not(:last-child) {
  margin-bottom: 4rem; }

.form__group--input {
  width: 95%;
  padding: 1.5rem 1.7rem;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  .form__group--input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a; }
  .form__group--input-webkit-input-placeholder {
    color: #999; }

.form__group--label {
  display: block;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all .5s; }

.form__group--input:placeholder-shown + .form__group--label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.5rem); }

.form__group--input:focus:invalid {
  border-bottom: 3px solid #962459; }

.form__button {
  display: inline-block;
  position: relative; }
  .form__button:last-child {
    margin-left: 5rem; }
  .form__button--label {
    padding-left: 2rem;
    cursor: pointer; }
  .form__button--input {
    visibility: hidden; }
  .form__button--size {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #55c57a;
    position: absolute;
    top: 0;
    left: -1rem;
    cursor: pointer; }
    .form__button--size::after {
      content: " ";
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      display: inline-block;
      background-color: #55c57a;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; }
  .form__button--input:checked + .form__button--label .form__button--size::after {
    opacity: 1; }

    .main_wrap{
      text-align: center;
      
    }
    .mainVideo{
       display: inline-block;
       
    }

    .playlist{
      background-image:linear-gradient(104deg, rgba(151, 25, 103, 0.171) 50%, transparent 70%);
      padding: 2rem;
    }

    .gallery{
      margin-top: 80px;
      }
    
    .gallery ul{
      width: 100%;
      list-style: none;
    }
    
    .gallery li{
      display: inline-block;
      overflow: hidden;
    }
    
    .gallery li img {
      width: 100%;
      height: auto;
      transform: scale(1.15);
      transition: transform 0.5s, opacity 0.5s;
    }
    .gallery figure{
      margin: 0;
      /* float: left; */
    }
    
    .gallery li img:hover{
      transform: scale(1.03);
      opacity: 1;
    
    }
    .gallery {
      
      text-align: center;
    }



.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*( (100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*( (100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*( (100% - 3 * 6rem)/4) + 2*6rem); }

 

